<nav class="navbar navbar-expand-lg menu shadow fixed-top">
    <div class="container">
     <a class="navbar-brand" href="#">
        <img src="../../../assets/APLogo-20-20.png" alt="logo-argentinaprograma" style="height: 40px;" id="logo-argentinaprograma" >
     </a>   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a id="home" class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">About me</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact me</a>
            </li>
  
        </ul>
        <a target="_blank" href="https://github.com/NathanSullivan11" role="button">
          <fa-icon class="nav-item"
            [icon]="['fab', 'github']"
            [styles]="{ color: 'black' }"
            size="2x">
          </fa-icon>  
        </a>
        <a target="_blank"  href="https://www.linkedin.com/in/nathan-sullivan-33989021a/" role="button">
            <fa-icon class="nav-item"
                [icon]="['fab', 'linkedin']"
                [styles]="{ color: 'black' }"
                size="2x">
            </fa-icon>     
        </a>
        <button class="nav-item btn-rounded btn btn-dark" >Login</button>
    </div>
  </div>
</nav>
